{{
  d-button class="assign"
  icon="user-plus"
  action="convertToTicket"
  label="discourse_ticketing.topics.create_ticket_label"
  title="discourse_ticketing.topics.create_ticket_help"
}}

{{#if create_ticket_block}}
  <div class="ticket-area">
    {{
      ticket-dropdown
      title="Users"
      field="users"
      list=list-users
      selected=user-value
      key="username"
      onChange=(action "set_users")
    }}
    {{
      ticket-dropdown
      title="Priority"
      field="priority"
      list=list-priority
      selected=priority-value
      onChange=(action "set_priority")
    }}
    {{
      ticket-dropdown
      title="Status"
      field="status"
      list=list-status
      selected=status-value
      onChange=(action "set_status")
    }}
    {{
      ticket-dropdown
      title="Reasons"
      field="reasons"
      list=list-reasons
      selected=reasons-value
      onChange=(action "set_reasons")
    }}

    {{d-button action="save" class="btn-primary btn-small submit-edit" icon="check"}}
    {{d-button action="cancel" class="btn-small cancel-edit" icon="times"}}
  </div>
{{/if}}
