<td><a title="{{ticket.title}}" href="{{ticket.url}}">
  {{ticket.title}}
</a></td>
<td class="tags">
  {{#each ticket.tags as |t|}}
    <a {{action filterBy 'tag' t}}>
      {{discourse-tag t noHref=true}}
    </a>
  {{/each}}
</td>
<td>{{ticket.status}}</td>
<td>{{ticket.priority}}</td>
<td>{{ticket.reason}}</td>
<td>
  {{#if ticket.assigned}}
    {{tickets-dashboard-user user=ticket.assigned.user
                             filterBy=filterBy}}
  {{/if}}
</td>
