<td><a title="{{ticket.title}}" href="{{ticket.href}}">{{ticket.title}}</a></td>
<td>{{ticket.status}}</td>
<td>{{ticket.priority}}</td>
<td>{{ticket.reason}}</td>
<td>{{friendlyDueDate}}</td>
<td>{{ticketing-dashboard-users people=ticket.involvedUsers}}</td>
