{{d-button label='tickets.topic.is_ticket'
           icon=siteSettings.tickets_icon
           action='toggleIsTicket'
           class=toggleClasses}}

{{#if topic.is_ticket}}
  <div class="ticket-controls">
    <div class="control-group">
      <label>{{i18n 'tickets.priority'}}</label>
      <div class="controls">
        {{combo-box content=priorityList
                    value=priority
                    none=priorityNone}}
      </div>
    </div>

    <div class="control-group">
      <label>{{i18n 'tickets.status'}}</label>
      <div class="controls">
        {{combo-box content=statusList
                    value=status
                    none=statusNone}}
      </div>
    </div>

    <div class="control-group">
      <label>{{i18n 'tickets.reason'}}</label>
      <div class="controls">
        {{combo-box content=reasonList
                    value=reason
                    none=reasonNone}}
      </div>
    </div>
    {{#if showInclude}}
      <div class="control-group">
        <label>{{i18n 'tickets.include'}}</label>
        <div class="controls">
          {{user-selector single=true
                          excludeCurrentUser=true
                          includeMessageableGroups=true
                          hasGroups=hasGroups
                          usernames=includeUsernames
                          canReceiveUpdates="true"
                          placeholderKey='tickets.include_placeholder'
                          onChangeCallback="includedChanged"}}
        </div>
      </div>
    {{/if}}
  </div>
  {{#if siteSettings.assign_enabled}}
    {{#if topic.assigned_to_user.username}}
      {{d-button class="assign"
                 icon="user-times"
                 action="unassign"
                 label="discourse_assign.unassign.title"
                 title="discourse_assign.unassign.help"}}
    {{else}}
      {{d-button class="assign"
                 icon="user-plus"
                 action="assign"
                 label="discourse_assign.assign.title"
                 title="discourse_assign.assign.help"}}
    {{/if}}
  {{/if}}
{{/if}}
