<div class="control-group">
  <label>{{i18n 'tickets.topic.is_ticket'}}</label>
  <div class="controls">
    {{input type='checkbox' checked=topic.is_ticket}}
  </div>
</div>
<div class="control-group">
  <label>{{i18n 'tickets.priority'}}</label>
  <div class="controls">
    {{combo-box content=priorityList
                value=priority
                none=priorityNone
                isDisabled=notTicket}}
  </div>
</div>

<div class="control-group">
  <label>{{i18n 'tickets.status'}}</label>
  <div class="controls">
    {{combo-box content=statusList
                value=status
                none=statusNone
                isDisabled=notTicket}}
  </div>
</div>

<div class="control-group">
  <label>{{i18n 'tickets.reason'}}</label>
  <div class="controls">
    {{combo-box content=reasonList
                value=reason
                none=reasonNone
                isDisabled=notTicket}}
  </div>
</div>
