{{#if showDashboard}}
  {{#conditional-loading-spinner condition=refreshing}}
    <table class='table users-list'>
      <thead>
        <th>&nbsp;</th>
        <th>{{i18n 'discourse_ticketing.dashboard_table.headings.title'}}</th>
        <th>{{i18n 'discourse_ticketing.dashboard_table.headings.status'}}</th>
        <!-- {{admin-directory-toggle field="seen" i18nKey='last_seen' order=order ascending=ascending}} -->
        <th>{{i18n 'discourse_ticketing.dashboard_table.headings.priority'}}</th>
        <!-- {{admin-directory-toggle field="seen" i18nKey='last_seen' order=order ascending=ascending}} -->
        <th>{{i18n 'discourse_ticketing.dashboard_table.headings.reason'}}</th>
        <!-- {{admin-directory-toggle field="created" i18nKey="created" order=order ascending=ascending}} -->
        <th>{{i18n 'discourse_ticketing.dashboard_table.headings.due_date'}}</th>
        <!-- {{admin-directory-toggle field="read_time" i18nKey="admin.user.time_read" order=order ascending=ascending}} -->
        <th>{{i18n 'discourse_ticketing.dashboard_table.headings.people'}}</th>
        <!-- {{admin-directory-toggle field="read_time" i18nKey="admin.user.time_read" order=order ascending=ascending}} -->
        <th>&nbsp;</th>
      </thead>
      <tbody>
        {{#each model as |user|}}
          <tr class="user {{user.selected}} {{unless user.active 'not-activated'}}">
            <td>
              <a href="{{unbound user.path}}" data-user-card="{{unbound user.username}}">
                {{avatar user imageSize="small"}}
              </a>
            </td>
            <td class="username">
              {{#link-to 'adminUser' user}}{{unbound user.username}}{{/link-to}}
              {{#if user.staged}}
                {{d-icon "envelope-o" title="user.staged" }}
              {{/if}}
            </td>
            <td class='email'>
              {{unbound user.email}}
            </td>
            <td>
              {{{format-duration user.last_emailed_age}}}
            </td>
            <td>
              {{{format-duration user.last_seen_age}}}
            </td>
            <td>
              {{number user.topics_entered}}
            </td>
            <td>
              {{number user.posts_read_count}}
            </td>
            <td>
              {{{format-duration user.time_read}}}
            </td>

            <td>
              {{{format-duration user.created_at_age}}}
            </td>
            <td>
              {{#if user.admin}}
                {{d-icon "shield" title="admin.title" }}
              {{/if}}
              {{#if user.moderator}}
                {{d-icon "shield" title="admin.moderator" }}
              {{/if}}

              {{#if user.second_factor_enabled}}
                {{d-icon "lock" title="admin.user.second_factor_enabled" }}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/conditional-loading-spinner}}
{{/if}}
