<div class="tickets-filters">
  <div class="controls">
    {{combo-box
      content=filterFields
      value=filterField
      none='tickets.dashboard_table.filter.field'
    }}
    {{combo-box
      content=filterValues
        value=filterValue
        none='tickets.dashboard_table.filter.value'
    }}
    {{d-button action='applyFilter' label='tickets.dashboard_table.filter.apply'}}
  </div>
  <div class="filters">
    {{#each currentFilters as |filter|}}
      <div class="filter">
        <span>{{filter.field}}: {{filter.value}}</span>
        {{d-button action='removeFilter' actionParam=filter icon='times'}}
      </div>
    {{/each}}
  </div>
</div>

<div class="tickets-pages">
  <span class="label">{{i18n 'tickets.dashboard_table.page.label'}}</span>
  <div class="count">
    {{#if lessThanLimit}}
      {{total}}
    {{else}}
      {{pageStart}} - {{pageEnd}} of {{total}}
    {{/if}}
  </div>
  <div class="controls">
    {{d-button action='previousPage' label='tickets.dashboard_table.page.previous'disabled=previousDisabled}}
    {{d-button action='nextPage' label='tickets.dashboard_table.page.next' disabled=nextDisabled}}
  </div>
  <div class="page-list">
    {{#each pages as |p|}}
      {{d-button translatedLabel=p.number action='goToPage' actionParam=p.number class=p.classes}}
    {{/each}}
  </div>
</div>

{{#conditional-loading-spinner condition=refreshing}}
  <table class='table users-list'>
    <thead>
      {{admin-directory-toggle field="title" i18nKey='tickets.dashboard_table.headings.title' order=order ascending=ascending}}
      {{admin-directory-toggle field="tags" i18nKey='tagging.tags' order=order ascending=ascending}}
      {{admin-directory-toggle field="status" i18nKey='tickets.status' order=order ascending=ascending}}
      {{admin-directory-toggle field="priority" i18nKey='tickets.priority' order=order ascending=ascending}}
      {{admin-directory-toggle field="reason" i18nKey="tickets.reason" order=order ascending=ascending}}
      {{admin-directory-toggle field="assigned" i18nKey="tickets.dashboard_table.headings.assigned" order=order ascending=ascending}}
    </thead>
    <tbody>
      {{#each tickets as |ticket|}}
        {{tickets-dashboard-row ticket=ticket
                                filterBy=(action 'filterBy')}}
      {{/each}}
    </tbody>
  </table>
{{/conditional-loading-spinner}}
