{{#if showDashboard}}
  {{#conditional-loading-spinner condition=refreshing}}
    <table class='table users-list'>
      <thead>
        {{admin-directory-toggle field="title" i18nKey='discourse_ticketing.dashboard_table.headings.title' order=order ascending=ascending}}
        {{admin-directory-toggle field="status" i18nKey='discourse_ticketing.status' order=order ascending=ascending}}
        {{admin-directory-toggle field="priority" i18nKey='discourse_ticketing.priority' order=order ascending=ascending}}
        {{admin-directory-toggle field="reason" i18nKey="discourse_ticketing.reason" order=order ascending=ascending}}
        {{admin-directory-toggle field="dueDate" i18nKey="discourse_ticketing.dashboard_table.headings.due_date" order=order ascending=ascending}}
        {{admin-directory-toggle field="people" i18nKey="discourse_ticketing.dashboard_table.headings.people" order=order ascending=ascending}}
      </thead>
      <tbody>
        {{#each model as |ticket|}}
          {{ticketing-dashboard-row ticket=ticket}}
        {{/each}}
      </tbody>
    </table>
  {{/conditional-loading-spinner}}
{{/if}}
